<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Clube Desportivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="\assets\images\ACRA.png" />
    <ion-card-header>
      <ion-card-title>Associação Social, Cultural e Recreativa de Alheira</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      Embora um clube pequeno, de uma freguesia com um tamanho considerável, sempre fez marcar a sua presença em torneios de futsal. <br><br>
      Para além de um clube, esta é também uma associação que dispensa de um lar e de um café.
    </ion-card-content>
  </ion-card>

  <ion-card >
    <img src="\assets\images\AFC.png" id="imagemAFC"/>
    <ion-card-header>
      <ion-card-title>Alheira Futebol Clube</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      No seu auge teve algum impacto no futebol regional, ainda me lembro de assistir a jogos, mas nesse tempo ainda era bem novo.<br><br>
      Talvez já se encontre extinto, ninguém sabe.<br>
      No seu campo ainda se costumam fazer atividades desportivas, mas já são escassas.
    </ion-card-content>
  </ion-card>
</ion-content>
