<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Turismo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="\assets\images\igrejaAlheira.png" />
    <ion-card-header>
      <ion-card-title>Igreja de Alheira</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Embora não seja o melhor local de turismo para aqueles que não são religiosos, apreciar a arte escondida dentro das quatro paredes da Igreja de Alheira é algo a pensar.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="\assets\images\alojamentoLocal.png" />
    <ion-card-header>
      <ion-card-title>Alojamento Local</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Claro que, se  vier de longe e quiser ver a Igreja, tem que ter onde se alojar, nada melhor do que um alojamento local.
    </ion-card-content>
  </ion-card>
</ion-content>
