<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gastronomia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fullPageHeight">
    <ion-card>
      <img src="\assets\images\alho.png" />
      <ion-card-header>
        <ion-card-title>Alho</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Sim é a única gastronomia que a freguesia apresenta. <br><br>
        Faz tão parte da freguesia que lhe deu nome e imagem. Em seus velhos tempos, Alheira era conhecida como a terra dos alhos, vindo, assim, a surgir no nome e no brasão da freguesia.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
