<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sobre Mim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fullPageHeight">
    <ion-card>
      <img src="\assets\images\eu.png" />
      <ion-card-header>
        <ion-card-title>Quem mais, se não eu?</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        O meu nome é Pedro e sou estudante do Instituto Politécnico de Viana do Castelo, no curso de Engnharia Informática.<br>
        Tenho 21 anos, nasci em Barcelos e vivo em Alheira.<br>
        Embora seja um pouco antiquado, em relação a colegas da minha idade, sou um fã de tecnologia e de tudo que ela tem para oferecer.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

